_site/*
_draft/*
*~
_theme_packages/*
_posts/2012-12-25-为什么要做书圈.md
_posts/2012-12-16-一周项目安排.md
_posts/2012-12-10-近期折腾任务清单.md
_posts/bookcircle/*
_posts/cuda/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
